footer {
    padding: 66px 0 44px 0;
    background: #0D0D0D;
}
.footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 47px;
    border-bottom: 1px solid #202020;
    .footer_nav_number {
        display: flex;
        ul {
            margin-right: 66px;
            li {
                &:first-child{
                    font-family: 'Cera Pro';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 100%;
                    display: flex;
                    align-items: center;
                    color: #8A8A8A;
                    margin-bottom: 10px;
                }
                &:last-child {
                    font-family: 'Cera Pro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }
    }
    .footer_nav_social {
        p {
            font-family: 'Cera Pro';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            display: flex;
            align-items: center;
            color: #8A8A8A;
            margin-bottom: 20px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            width: 429px;
            li {
                font-family: 'Cera Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                display: flex;
                align-items: center;
                color: #8A8A8A;
                button {
                    border: 0.5px solid #8A8A8A;
                    border-radius: 6px;
                    padding: 10px 20px;
                    display: flex;
                    align-items: center;
                    background: #0D0D0D;
                    color: #8A8A8A;
                    svg {
                        margin-right: 10px;
                    }
                    &:hover{
                        background: #0a0a0a;
                        color: #D38F0B;
                        border: 0.5px solid #D38F0B;
                        svg {
                            path {
                                fill: #D38F0B;
                            }
                        }
                    }
                }
            }
        }
    }
}
.footer_link {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    p {
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        display: flex;
        align-items: center;
        color: #8A8A8A;
        a{
            color: #8A8A8A;
            &:hover {
                color: #D38F0B;
            }
        }
    }
}