@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "popup.scss";
@import "reset.scss";

@font-face {
    font-family: 'Bebas Neue';
    src: url(../fonts/bebas-neue-bold.ttf);
}
@font-face {
    font-family: 'Cera Pro';
    src: url(../fonts/CeraPro-Regular.ttf);
}
.container {
    max-width: 1500px;
    margin: auto;
    padding: 0 15px;
}
.popup-link {
    background: #FAB31B;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    padding: 0;
    font-size: 23.3333px;
    align-items: center;
    text-transform: uppercase;
    a {
        color: #000000;
        text-decoration: none;
        padding: 20px 30px;
        display: block;
    }
    &:hover {
        background: #D38F0B;
        color: #FFFFFF;
        a {
            color: #FFFFFF;
        }
    }
}
.fixed {
    display: inline-block;
    position: fixed;
    color: #00000000;
}
@import "adaptive.scss";